html {

	font-family: "Raleway", sans-serif;
	/*background-color: grey;*/
}
body {
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1340px;
}
.flex_row {
	display: flex;
    flex-direction: row;
}
.flex_column {
    display: flex;
    flex-direction: column;
}
main {
	padding-bottom: 60px;
	margin: auto;
	max-width: 1340px;
}
.bold {
	font-weight: bold;
}
.grey {
	color: #d9d9d9;
}
li {
	list-style: none;
}
h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
h5 {
	margin-top: 0px;
}
a {
	text-decoration: none;
}

/* CSS header - Logo + Barre naviguation */

header {
	display: flex;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}
header img {
	padding-top: 50px;
}

header nav li {
	padding-top: 50px;
	margin-left: 67px;
}
header nav li a {
	padding: 64px 40px 0;
	text-decoration: none;
}
header nav li a:visited {
	color: black;
}
header nav li a:hover {
	border-top: 2px solid #0065fc;
	color: #0065fc;
}
.subscribe {
	padding-top: 67px;
	margin-left: 67px;
}
#subscribe {
	color: #0065fc;
	font-weight: bold;
}

/* CSS search bar */

h1 {
	letter-spacing: -1px;
	margin-bottom: 15px;
	margin-top: 45px;
}
h1 + p {
	margin-top: 0px;
	margin-bottom: 23px;
}
.container_search {
	justify-content: space-between;
	width: 416px;
	height: 50px;
	border-radius: 18px 18px 18px 18px;
	border: solid #f2f2f2 2px;
}
.container_search_icone {
	justify-content: center;
	align-items: center;
	border-radius: 15px 0px 0px 15px;
	width: 50px;
	background-color: #f2f2f2;
}
.search_button {
	width: 132px;
	border-radius: 0px 15px 15px 0px;
	border-style: none;
	color: white;
	background-color: #0065fc;
	cursor: pointer;
	padding: 0;
}
.search_button:active {
	background-color: #0065fc;
	transform: translateY(2px);
}
#search_text {
	font-size: 15px;
	width: 100px;
}
#site-search {
	width: 234px;
	padding-left: 5px;
}
input {
	border-style: none;
	width: 234px;
	padding-left: 15px;
	font-weight: bold;
	color: black;
}
input:focus {
	outline: none;
}
input::placeholder {
	font-weight: bold;
	color: black;
}

/* CSS Zone Filtres */

.filters {
	padding-top: 30px;
	padding-bottom: 35px;
	height: 50px;
	flex-wrap: wrap;
}
.filter {
	align-items: center;
	margin-right: 20px;
	border: solid #f2f2f2 2px;
	border-radius: 45px;
	cursor: pointer;
	transition: transform 250ms;
}
.filter:hover {
	color: #0065fc;
	transform: translateY(-10px);
}
.filter-icone {
	justify-content: center;
	align-items: center;
	border-radius: 25px 25px 25px 25px;
	width: 50px;
	height: 50px;
	background-color: #deebff;
}
.filter-text {
	padding: 15px 15px;
	font-weight: bold;
	color: black;
}
.no-border {
	border-style: none;
}
.no-animation {
	transition: none;
}
.no-animation:hover {
	transform: none;
}

/* CSS Zone Information */

.container_information {
	align-items: center;
	margin-bottom: 15px;
}
.information-icone {
	justify-content: center;
	align-items: center;
	border: solid #f2f2f2 2px;
	border-radius: 25px 25px 25px 25px;
	width: 25px;
	height: 25px;
	color: #0065fc;
	font-size: 12px;
}
.information-text {
	margin-left: 15px;
}

/* HEBERGEMENT */
.container_hosts {
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	max-width: 1340px;
}

.card-text {
	flex-direction: column;
	justify-content: space-between;
}
/* PARTIE GAUCHE */
.row_number_one {
	justify-content: space-around;
	flex-wrap: wrap;
}
.row_number_two {
	justify-content: space-around;
	flex-wrap: wrap;
}

.container_host_left {
	height: 625px;
	background-color: #f2f2f2;
	border-radius: 30px;
	padding: 30px 0px 30px 0px;
	justify-content: space-between;
	
}
.container_host_left h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 30px;
}

.card_left {
	width: 250px;
	background-color: white;
	border-radius: 30px;
	padding: 5px 5px 5px 5px;
	margin: 0px 20px 0px 20px;
	border-radius: 35px;
	height: 200px;
}
.card_left-img {
	height: 115px;
	width: 100%;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.container_card_text {
	flex-direction: column;
	justify-content: space-between;
	padding-left: 17px;
	padding-bottom: 10px;
}

.card-text p {
	margin-top: 3px;
	margin-bottom: 5px;
}
.card_star {
	color: #0065fc;
}
.afficherPlus {
	color: black;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	padding-left: 30px;
	
}
.afficherPlus:visited {
	color: black;
}
.afficherPlus:link {
	color: black;
}

/* PARTIE DROITE */
.container_host-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #f2f2f2;
	border-radius: 30px;
	width: 30%;
	padding: 0px 0px 0px 0px;
}

.host_right-text {
	width: 80%;
	justify-content: space-between;
	align-items: baseline;
}
.host_right-text i {
	font-size: 1.5rem;
	margin-bottom: ;
}
.host_right-text h2 {
	margin-top: 0px;
}
.container_cards_right {
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	padding-left: 30px;
}
.card_right {
	background-color: white;
	border-radius: 30px;
	margin-bottom: 30px;
	border-radius: 35px;
	height: 134px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.card_right-img {
	height: 134px;
	width: 127px;
	border-radius: 30px 0px 0px 30px;
	padding-left: 5px;
	object-fit: cover;
}

.column_number_one {
	width: 80%;
}
/* CSS ACTIVITES */
.img_large {
	height: 100%;
}
.img_medium {
	height: 100%;
}
.img_small {
	height: 100%;
}
#activities {
    width: 100%;
}
.container_activities_cards {
    height: 445px;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;	
}
.container_activities_cards img {
    width: 100%;
	height: 100%;
	border-radius: 25px 25px 0 0;
	object-fit: cover;
}
.activities_column {
	justify-content: space-between;
	width: 300px;
	height: 100%;
}
.container_card_large {
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	height: 100%;
	width: 100%;
	box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
}
.container_card_medium {
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	height: 236px;
	width: 100%;
	box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
}
.container_card_small {
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	height: 165px;
	width: 100%;
	box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.activities_text {
	margin-left: 15px;
	margin-top: 15px;
	width: 100%;
	height: 10%;
	font-size: 0.9em;
}


/* FOOTER */

footer {
	width: 100%;
}
.footer {
	background-color: #f2f2f2;
}
.container_footer {
	max-width: 1340px;
	margin: auto;
}
.container_footer_menu {
	max-width: 75%;
	justify-content: space-between;
	align-items: center;
}
.footer_menu_content {

	padding-top: 49px;
	padding-bottom: 49px;
}
ul {
	padding-left: 0px;
}
.footer_menu li {
	margin-bottom: 10px;
}

@media screen and (max-width: 420px) {
	
	body {
		max-width: 420px;
	}
	header {
		width: 100%;
		justify-content: none;
	}
	.container_hosts {
		justify-content: none;
	}
	.container_host-right {
		
	}
}
