html {
    font-family: 'Raleway', sans-serif;
}
body {
 
    margin: 0;  
}
.container {
    width: 1340px;
}
.flex {
    display: flex;
}
main {
    margin: auto;
}
.bold {
    font-weight: bold; 
}
.grey {
    color: #d9d9d9;
}
li {
    list-style: none;
}
h5 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0px;
}


/* CSS header - Logo + Barre naviguation */

header {
    justify-content: space-between;

}
header img {
    padding-top: 50px;
}

header nav li {
    padding-top: 50px;
    margin-left: 67px;
}
header nav li a {
    padding: 64px 40px 0;
    
    text-decoration: none;
}
header nav li a:visited {
    color: black;
}
header nav li a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
#subscribe {
    color: #0065FC;
    font-weight: bold;
}


/* CSS search bar */

h1 {
    letter-spacing: -1px; 
    margin-bottom: 15px;
    margin-top: 45px;
}
h1 + p {
    margin-top: 0px;
    margin-bottom: 23px;
}
.container_search {
    justify-content: space-between;
    width: 420px;
    height: 50px;
    border-radius: 45px;
    border: solid #F2F2F2 2px ;
}
.container_search_icone {
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    background-color: #F2F2F2;
}
.search_button {
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    border-style: none;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
}
.search_button:active {
    background-color: #0065FC;
    transform: translateY(2px);
  }

#search_text {
    font-size: 15px;
    width: 100px;
}
input {
    border-style: none;
    width: 234px;
    padding-left: 15px;
    font-weight: bold;
    color: black;
}
input:focus {
    outline: none;
}
input::placeholder {
    font-weight: bold;
    color: black;
}

/* CSS Zone Filtres */

.filters {
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 35px;
    width: 940px;
    height: 50px;
    margin-top: 15px;
}
.filter {
    align-items: center;
    border: solid #F2F2F2 2px;
    border-radius: 45px;
    cursor: pointer;
    transition: transform 250ms;
}

.filter:hover {
    color: #0065FC;
    transform: translateY(-10px);
}
.filter-icone {
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
}
.filter-text {
    padding: 15px 15px;
    font-weight: bold;
    color: black;
}
.no-border {
    border-style: none;
}
.no-animation {
    transition: none;
}
.no-animation:hover {
    transform: none;
}

/* CSS Zone Information */

.container_information {

    align-items: center;
    justify-content: spa;
}

.container_information_icone {

    justify-content: center;
    align-items: center;
    border: solid #F2F2F2 2px;
    border-radius: 25px 25px 25px 25px;
    width: 25px;
    height: 25px;
    color: #0065FC;
    font-size: 12px;
}

.decoration_information_text {
    margin-left: 15px;
}

/* CSS HEBERGEMENT */


.container_section_host {

    margin-top: 37px;
    width: 1340px;
}

/* PARTIE GAUCHE */


.container_host_left {
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 40px; 
    width: 70%;
}

.container_host_cards_left {
 
    justify-content: space-between;
    flex-wrap: wrap;
}

.container_card_left {
    background-color: white;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-radius: 35px;
    height: 200px;
}

.card_img_sizing_left {
    height: 115px;
    width: 236px;
    border-radius: 30px 30px 0px 0px;
}

.decoration_host_text_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.decoration_host_text_left h3 {
    margin-top: 3px;
    margin-bottom: 12px;
    height: 12px;
    font-weight: bold;
}
.decoration_host_text_left p {
    margin-top: 3px;
    margin-bottom: 5px;
}

.decoration_host_star_left {
    color: #0065FC;
}

.test_b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 17px;
    padding-bottom: 10px;
}


/* PARTIE DROITE */

.container_host_cards_right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.container_host_right {
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 30%;
}

.container_host_right h2 {
    display: flex;
    justify-content: space-between;
}

.container_card_right {
    display: flex;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 30px;
    border-radius: 35px;
    height: 134px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card_image_sizing_right {
    height: 134px;
    width: 127px;
    border-radius: 30px 0px 0px 30px;
    padding-left: 5px;
}

.decoration_host_text_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 5px;
}


.decoration_host_text_right p {
    margin-top: 14px;
    margin-bottom: 12px;
}

.decoration_host_text_right h3 {
    margin-top: 14px;
    margin-bottom: 0px;
}


.decoration_host_star_right {
    color: #0065FC; 
}

.decoration_host_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 21px;
    padding-bottom: 6px;
}

/* CSS ACTIVITES */

.container_activities {
    padding-top: 30px;
    width: 1340px;
}
.container_activities_cards {
    display: grid;
    grid-template-columns: repeat(4, 305px);
    grid-template-rows: repeat(5, 69px);
    column-gap: 40px;
    row-gap: 40px;
}

.activities_card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.activities_card img {
 
    height: 100%;
    object-fit: none;
    border-radius: 30px 30px 0px 0px;
}
.decoration_activities_card_text {
    font-weight: bold;
    margin-left: 19px;
}
.img_one {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}
.img_two {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.img_three {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}
.img_four {
    grid-column: 3 / 4;
    grid-row: 1 / 6;
}
.img_five {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.img_six {
    grid-column: 4 / 5;
    grid-row: 3 / 6;
}

/* FOOTER */

.footer_background {
    background-color: #F2F2F2;
}
.container_footer_menu {
    width: 100%;
    margin: auto;
    margin-top: 60px;
    max-width: 1340px;
    display: flex;
    justify-content: flex-start;
}
.footer_menu_content {
    padding-right: 200px;
    padding-top: 49px;
    padding-bottom: 49px;
}
ul {
    padding-left: 0px;
}
.footer_menu li {
    margin-bottom: 10px;
}

@media only screen (max-width: 375px) {
}